<html>
<head>
  <title>Welcome</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../style.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container-fluid">
	<header>
		<div class='img-responsive'>
			<img src='http://kithicor.org/wp/wp-content/uploads/2012/03/Movie-Banner.jpg' class='img-responsive'>
			<h1>IMDB</h1>
			<h2>Your Ultimate Movie Database</h2>
		</div>
	<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
        <li><a href="/movies">Search</a></li>
        <li><a href="/movies">Back</a></li>
        <li><a href="/movies">IMDB</a></li>
    </ul>
  </div>
</nav>
	</header>
