<% include /header %>


<div class="container show">
	<div class="row">
	  	<div class="col-xs-8 col-md-8">
			<h3 id="header">WELCOME</h3>
			<p>Moovie Hub is your gateway to the film industry. Discover our exclusive vault, featuring  classic, independent and award-winning films. Begin your search today and curate your own must-see moovie queue.</p>
		</div>
		<div class="col-xs-4 col-md-4">
			<h3 id="header">SEARCH</h3>
			<form action='/search' method='get'>
				<input type='text' name='title' id='input' placeholder='Movie Title'>
				<input type='submit' id='submit' value='Search'>
			</form>
		</div>
	</div>
</div>




<% include /footer %>