header {
	background-color: #000;
	text-align: center;

}
.container-fluid {
	max-width: 1010px;
}

.image {
	position: relative;
	width: 100%;
}


h1 {
	position: absolute;
	top: 25px;
	left: 0px;
	width: 100%;
	font-size: 140px;
	font-family: 'Oswald';
	color: #fff;
	opacity: 0.75;
}

h2 {
	position: absolute;
	top: 170px;
	left: 0px;
	width: 100%;
	font-size: 20px;
	font-family: 'Quattrocento';
	color: #fff;
	opacity: 0.75;
}

h3 {
	font-size: 20px;
	font-family: 'Oswald';
}

body {
	text-align: left;
	font-size: 15px;
	font-family: 'Quattrocento';
}

.navbar {
    color: #fff;
    margin-bottom: 50px;
    font-family: 'Oswald';
}

.search {
	background-color: rgba(204, 204, 204, 0.5);
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
}

#count3 {
	border-left: 1px solid #000;
}