/* ------------------- Header Styles ------------------- */

.container {
	max-width: 1000px;
}

.container {
	max-width: 1200px;
}

h1 {
	position: absolute;
	text-align: center;
	top: 210px;
	left: 0px;
	width: 100%;
	font-size: 10vmin;
	font-style: bold;
	font-family: 'Josefin Sans';
	color: #000;
	/*opacity: 0.75;*/
}

h2 {
	position: absolute;
	text-align: center;
	top: 270px;
	left: 0px;
	width: 100%;
	font-size: 3vmin;
	font-family: 'Merriweather';
	color: #000;
}

h3 {
	font-size: 20px;
	font-family: 'Merriweather';
	color: #000;
}

#header {
	font-size: 22px;
	font-family: 'Josefin Sans';
	font-size: bold;
}

p {
	text-align: left;
	font-size: 15px;
	line-height: 130%;
	font-family: 'Merriweather';
}

body {
	text-align: left;
	font-size: 15px;
	line-height: 130%;
	font-family: 'Merriweather';
}

/* ------------------- Nav Styles ------------------- */
.nav {
	float: none;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Josefin Sans';
	font-size: 15px;
	background-color: rgba(255,255,255);
}

.navbar {
	background-color: #fff;
}

.nav-item {
	padding-left: 25px;
	padding-right: 25px;
}

.container-fluid {
	max-width: 1010px;
}

.img-responsive {
	padding-top: 30px;
	position: relative;
}

#trans_image {
	opacity: 0.35;
}

/* ------------------- Index Page ------------------- */

#input {
	padding: 3px;
	font-size: 12px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a#submit {
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 4px;
	font-size: 12px;
	background:#ccc; 
	border:0 none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
/*	margin-bottom: 2px;*/
}





/* ------------------- Links ------------------- */

a:link {
    color: #545454;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #A8A8A8;
    text-decoration: none;
}

a:active {
    color: #0000FF;
}


/* ------------------- Search Page ------------------- */

.search {
	background-color: rgba(204, 204, 204, 0.5);
	border-radius: 5px;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 50px;
}

#count1 {
	padding-top: 20px;
}

#count2 {
	padding-top: 5px;
}

#count3 {
	border-left: 1px solid #000;
	text-align: left;
}

#count4 {
	padding-top: 22px;
}

/* ------------------- Show Page ------------------- */

.show {	
	padding-top: 20px;
}

/* ------------------- Watchlist Page ------------------- */

.added {
	width: 500px;
	padding: 20px;
	margin-left: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	background:#ccc; 
	border:0 none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.deleteFavorite {
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 4px;
	font-size: 12px;
	background:#ccc; 
	border:0 none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* ------------------- Footer ------------------- */

.footer {
	padding-top: 120px;
	text-align: center;
	font-family: "Josefin Sans";
	font-size: 12px;
}