<% include ../header %>


<h3>Search for movies here: </h3>
<form action='/movies/search' method='get'>
	<input type='text' name='title' placeholder='Movie Title'>
	<input type='submit' value='Search'>
</form>
<br><br><br><br>

<% include ../footer %>